
@{
    ViewBag.Title = "AllMyGroups";
}

<h2>Grupurile mele</h2>
<a class="btn btn-primary" href="/Groups/MyGroups">Grupuril administrate</a>
<a class="btn btn-primary" href="/Groups/Index">Descopera</a>
<a class="btn btn-primary" href="/Groups/New">Adauga grup</a>

@Html.Partial("GroupsIndex")

